<div class = "weather-content">
    <p class = "w-time">
        {{WTIME}}
    </p>
    <p class = "w-img">
        <img src = "./images/weather/CloudyMoony.png">
    </p>
    <p class = "w-temp">
        {{WTEMP}}
    </p>
</div>